{% extends 'base.html' %}
{% load static %}
{% block title %}
    {% if title %}
        <title>
            {{ title }}
        </title>
    {% else %}
        {{ none }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        <center>
            <p style="color: green;">
                {{ access }}
            </p>
            <h1>اطلاعات سیستمی شما دریافت شد</h1>
            <h1>مرسی داپوش</h1>
            <h1>IP Address: {{ ip }}</h1>
            {% if request.user_agent.is_mobile %}
                <h1>OS: {{ system_other }}</h1>
            {% else %}
                <h1>OS: {{ system_windows }}</h1>
            {% endif %}
        </center>
    </div>
{% endblock %}