{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>
        {{ title }}
    </title>
{% endblock title %}
{% block body %}
    <div class="jumbotron d-flex align-items-center min-vh-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger text-center" role="alert">
                        دسترسی شما به این وب اپلیکیشن محدود شده است
                        <br>
                        <br>
                        Access Type: {{ access }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}